.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 200px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}

.header,
.footer  {
  flex: 4;
}
.sidebar {
  font-family: Bhavuka;
  flex: 0.5;
  background-color: aquamarine;
}
.main {
  flex: 4;
}
.flex-item {
  font-family: Montserrat;
  padding: 10px;
  width: 100px;
  color: grey;
  font-weight: bold;
  font-size: 2vw;
  text-align: justify;
}

.header {
  font-family: Montserrat;
  background-color: white;
  font-size: 1.5vw;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  /* justify-content: flex-end;
  align-items: flex-end; */
  flex-direction: row;
}
/*
nav a {
  text-decoration: none;
  color: white;
} */

a {
  text-decoration: none;
  color: white;
}

.menu-item-home {
  font-family: Bhavuka;
  color: white;
  font-size: 4vw;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-content: ;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#logo {
  font-family: Bhavuka;
  color: white;
  font-size: 8vw;
  letter-spacing: 80px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  flex-flow: wrap;
}

h5 {
  font-family: Montserrat;
  color: white;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

h2 {
  font-family: Bhavuka;
  color: aquamarine;
  font-size: 90px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

p {
  font-family: Montserrat;
  color: grey;
  font-size: 22px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.cardCont p {
  font-family: Montserrat;
  color: white;
  font-size: 22px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

form {
  font-family: Montserrat;
  color: grey;
  font-size: 22px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.cardCont {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px
}

.flip-card {
  background-color: transparent;
  width: 10em;
  height: 15em;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
