<section class="flex-container">
  <main class="flex-item main">

  <h4>Pending guests:</h4> <br> 
    <p><% if @property.guests.empty? %>
        <%= 'Property available!' %>
    <% else %>
        <% for guest in @property.guests %><%= guest.guest_name %><% end %>
    <% end %>
    </p>
  </main>
</section>

