<section class="flex-container">
  <main class="flex-item main">
    <h2>add a booking.</h2>
<form method="POST" action="/bookings">
  <div class="form-wrapper">

    <form action="/bookings" method="post">
    <div class="form-el">
    <label>
    Select a property:
      <select name="property_id">
        <% for property in @properties %>
        <option value="<%= property.id %>"><%= property.name %></option>
        <% end %>
      </select>
    </label>
    </div>

    <div class="form-el">
    <label>
      Select a guest:
      <select name="guest_id">
        <% for guest in @guests %>
        <option value="<%= guest.id %>"><%= guest.guest_name %></option>
        <% end %>
      </select>
    </label>
    </div>

    <div class="form-el">
      <label for="pax">Pax:</label>
      <input type="text" name="pax" id="pax"/>
    </div>

    <div class="form-el">
      <label for="check_in_date">Check in date:</label>
      <input type="text" name="check_in_date" id="check_in_date"/>
    </div>

    <div class="form-el">
      <label for="check_out_date">Check out date:</label>
      <input type="text" name="check_out_date" id="check_out_date"/>
    </div>

    <div class="form-el">
      <label for="nights">Nights:</label>
      <input type="number" name="nights" id="nights"/>
    </div>

    <input type='submit' class="button" value="done!">
  </form>

      </div>
    </form>
  </main>
</section>
