<section class="flex-container">
  <main class="flex-item main">

  <h4>Properties booked:</h4> <br> 
    <p><% if @guest.properties.empty? %>
      <%= 'No properties booked!' %>
        <% else %>
      <% for property in @guest.properties %><%= property.name %><% end %>
      <% end %>
    </p>

  </main>
</section>

