<section class="flex-container">
  <main class="flex-item main">
    <h2>add a guest.</h2>
    <form method="POST" action="/guests">
      <div class="form-wrapper">

        <div class="form-el">
          <label for="name">Name:</label>
          <input type="text" name="name" id="name"/>
        </div>

        <div class="form-el">
          <label for="last_name">Last name:</label>
          <input type="text" name="last_name" id="last_name"/>
        </div>

        <div class="form-el">
          <label for="nationality">Nationality:</label>
          <input type="text" name="nationality" id="nationality"/>
        </div>

        <div class="form-el">
          <label for="dob">DOB:</label>
          <input type="date" name="dob" min="<%= @minimum_date %>" id="dob"/>
        </div>
        # validation require input
      

        <label for="documents-selection">Select a document:</label>
        <select name="documents" id="documents-selection">
          <option value="Passport">Passport</option>
          <option value="Driving license">Driving license</option>
        </select>
      <br>

        <div class="form-el">
          <label for="contacts">Contacts:</label>
          <input type="text" name="contacts" id="contacts"/>
        </div>

        <div class="form-el">
          <input class="button" type="submit" value="done!"/>
        </div>

      </div>
    </form>
  </main>
</section>
