<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wiggo | Property management, organised.</title>
    <link rel="stylesheet" href="/style.css">
  </head>
<div class="container" id="home">

  <body>
    <h1 id="logo">Wiggo</h1>
<h5>property management, organised.</h5>

  </body>
</div>
</html>
