<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wiggo | Property management, organised</title>
    <link href="https://pagecdn.io/lib/easyfonts/bhavuka.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <div class="container">
    <header>
      <a href="/" id="home-item">W</a>
      <nav id="menu">
        <li class="menu-item"><a href="/properties">properties</a></li>
        <li class="menu-item"><a href="/guests">guests</a></li>
        <li class="menu-item"><a href="/bookings">bookings</a></li>
      </nav>
    </header>
    <body>
      <%= yield %>
    </body>
  </div>
</html>
