<section class="flex-container">
  <main class="flex-item main">
    <h2>add guest</h2>
<form method="POST" action="/guests">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form-el">
      <label for="last_name">Last name:</label>
      <input type="text" name="last_name" id="last_name"/>
    </div>

    <div class="form-el">
      <label for="nationality">Nationality:</label>
      <input type="text" name="nationality" id="nationality"/>
    </div>

    <div class="form-el">
      <label for="dob">DOB:</label>
      <input type="text" name="dob" id="dob"/>
    </div>

    <div class="form-el">
      <label for="documents">Documents:</label>
      <input type="text" name="documents" id="documents"/>
    </div>

    <div class="form-el">
      <label for="contacts">Contacts:</label>
      <input type="text" name="contacts" id="contacts"/>
    </div>

    <div class="form-el">
      <input class="button" type="submit" value="add guest"/>
    </div>

  </div>
</form>
</main>
</section>
