<section class="flex-container">
  <aside class="flex-item sidebar">Sidebar</aside>
  <main class="flex-item main">
    <h2>add property</h2>
<form method="POST" action="/properties">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form-el">
      <label for="category">Category:</label>
      <input type="text" name="category" id="category"/>
    </div>

    <div class="form-el">
      <label for="address">Address:</label>
      <input type="text" name="address" id="address"/>
    </div>

    <div class="form-el">
      <label for="place">Place:</label>
      <input type="text" name="place" id="place"/>
    </div>

    <div class="form-el">
      <label for="booking_platform">Booking platform:</label>
      <input type="text" name="booking_platform" id="booking_platform"/>
    </div>

    <div class="form-el">
      <label for="sleeps">Sleeps:</label>
      <input type="number" name="sleeps" id="sleeps"/>
    </div>

    <div class="form-el">
      <label for="daily_fee">Daily fee:</label>
      <input type="text" name="daily_fee" id="daily_fee"/>
    </div>

    <div class="form-el">
      <label for="contacts">Contacts:</label>
      <input type="text" name="contacts" id="contacts"/>
    </div>

    <div class="form-el">
      <input type="submit" value="add property"/>
    </div>

  </div>
</form>
</main>
<footer class="flex-item footer">Footer</footer>
</section>
